.Card {
  position: relative;
  list-style: none;
  margin: 10px;
  cursor: pointer;
  color: #a7a7a7;
}

.Card li {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
}

.Card:hover {
  color: #fff;
}

.Card img {
  border-radius: 10px;
  height: 225px;
  width: 225px;
}
