.Home {
    background-color: #000000;
    color: #ffffff;
    /* border: solid red 1px; */
    height: 100%;
    width: 100vw - 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}