.NavItem span {
  color: white;
  text-decoration: none;
  opacity: 60%;
  padding-left: 10px;
}

.NavItem span:hover {
  opacity: 100%;
  font-weight: bold;
}

.NavItem span:active {
  opacity: 100%;
}

.NavItem a {
  color: white;
  text-decoration: none;
  opacity: 60%;
  padding-left: 10px;
}

.NavItem a:hover {
  opacity: 100%;
  font-weight: bold;
}

.NavItem a:active {
  opacity: 100%;
}
