.App {
  display: flex;
  height: 100%;
  /* color: white;
  background-color: #000; */
  /* border: 1px green solid; */
}

.Content {
  width: 100%;
}

.SideBar {
  width: 350px;
  height: 100%;
  position: fixed;
}

.RightContainer {
  /* border: solid 1px blue; */
  /* height: 100%; */
  /* width: 80%; */
  margin-left: 350px;
  width: calc(100% - 350px);
  background-color: #121212;
  overflow: auto;
}

.RightTopContainer {
  display: flex;
  flex-direction: row;
  /* border: solid 1px red; */
}

.RightBottomContainer {
  border: solid 1px red;
}
